<section class="brand section" id="brand">
  <div class="brand__container">
    <h2 class="brand__title section-title">О бренде</h2>
    <div class="brand__box col-12 row">
      <div class="brand__info col-5">
        <div class="brand__text">
          <p>Продукты основаны на&nbsp;современных научных исследованиях и&nbsp;принципах доказательной медицины, что приводит к&nbsp;оптимальным результатам.</p>
          <p>НЕЙРОЧАЙ Astrology&nbsp;&mdash; первая и&nbsp;единственная коллекция травяного чая, где состав разработан нейросетью и&nbsp;учитывает особенности каждого знака зодиака. Наслаждайтесь уникальными вкусами, получите поддержку сил природы и&nbsp;благоволение звёзд.</p>
        </div>
      </div>
      <div class="col-1"></div>
      <div class="col-6 brand__value">
        <img class="brand-decor decor-brand-1" src="/public/img/brand/1.png" alt="">
        <div class="brand__img"> 
          <img src="/public/img/brand/aitea.jpg" alt="">
        </div>
        <img class="brand-decor decor-brand-2" src="/public/img/brand/2.png" alt="">
      </div>
    </div>
  </div>
</section>