<section class="catalog section light" id="catalog">
  <img class="catalog-decor decor-catalog-1" src="/public/img/catalog/sakura1.png" alt="">
  <img class="catalog-decor decor-catalog-2" src="/public/img/catalog/sakura2.png" alt="">
  <img class="catalog-decor decor-catalog-3" src="/public/img/catalog/decor-3.png" alt="">
  <div class="catalog__container">
    <div class="catalog-section" id="aichai">
      <h2 class="catalog__title section-title">Каталог</h2>
      <div class="catalog__box">
        <h3 class="catalog__subtitle">Нейрочай</h3>
        <p class="catalog__subtext">Погрузитесь в&nbsp;мир инноваций и&nbsp;гармонии с&nbsp;собой благодаря нашему уникальному продукту!</p>
        <div class="catalog__slider-nav">
          <div class="catalog__slider-next tea-nav swiper-button-next">
            <svg width="64" height="37" viewBox="0 0 64 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M42.4167 0.0937491C42.4167 2.02604 44.3255 4.91146 46.2578 7.33333C48.7422 10.4583 51.7109 13.1849 55.1146 15.2656C57.6667 16.8255 60.7604 18.3229 63.25 18.3229M63.25 18.3229C60.7604 18.3229 57.6641 19.8203 55.1146 21.3802C51.7109 23.4635 48.7422 26.1901 46.2578 29.3099C44.3255 31.7344 42.4167 34.625 42.4167 36.5521M63.25 18.3229L0.749997 18.3229" stroke="#FCF5FC" stroke-width="3"/>
            </svg>
          </div>
          <div class="catalog__slider-prev tea-nav swiper-button-prev">
            <svg width="64" height="37" viewBox="0 0 64 37" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.5833 0.0937491C21.5833 2.02604 19.6745 4.91146 17.7422 7.33333C15.2578 10.4583 12.2891 13.1849 8.88542 15.2656C6.33333 16.8255 3.23958 18.3229 0.750001 18.3229M0.750001 18.3229C3.23958 18.3229 6.33594 19.8203 8.88542 21.3802C12.2891 23.4635 15.2578 26.1901 17.7422 29.3099C19.6745 31.7344 21.5833 34.625 21.5833 36.5521M0.750001 18.3229L63.25 18.3229" stroke="#FCF5FC" stroke-width="3"/>
            </svg>
          </div>
        </div>
      </div>
      <div class="catalog__slider tea-slider swiper slider-catalog">
        <div class="swiper-wrapper">
          <div class="swiper-slide catalog__slide" 
            data-chai='{
            "title": "Нейрочай Astrology «Весы»",
            "description":"Аромат добра, мира и пикантных сплетен.",
            "ingredients": ["ромашка", "ромашка", "ромашка", "ромашка", "ромашка"],
            "images": [
              "/public/img/catalog/vesi.jpg",
              "/public/img/catalog/strelec.jpeg",
              "/public/img/catalog/kozerog.jpeg"
              ]
            }'
          >
            <div class="slider-catalog__img">
              <img src="/public/img/catalog/vesi.jpg" alt="">
            </div>
            <div class="slider-catalog__box">
              <h4 class="slider-catalog__heading">Нейрочай Astrology &laquo;Весы&raquo;</h4>
              <p class="slider-catalog__text">Аромат добра, мира и&nbsp;пикантных сплетен.</p>
              <div class="slider-catalog__markets">
                <img src="/public/img/catalog/wb.png" alt="">
                <img src="/public/img/catalog/ozon.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide catalog__slide"
            data-chai='{
            "title": "Нейрочай Astrology «Cтрелец»",
            "description":"Случайня смесь, аромат которой держится чуть дольше, чем твое новое увлечение.",
            "ingredients": ["ромашка", "ромашка", "мята", "ромашка", "ромашка"],
            "images": [
              "/public/img/catalog/vesi.jpg",
              "/public/img/catalog/strelec.jpeg",
              "/public/img/catalog/kozerog.jpeg"
              ]
            }'
          >
            <div class="slider-catalog__img">
              <img src="/public/img/catalog/vesi.jpg" alt="">
            </div>
            <div class="slider-catalog__box">
              <h4 class="slider-catalog__heading">Нейрочай Astrology &laquo;Cтрелец&raquo;</h4>
              <p class="slider-catalog__text">Случайня смесь, аромат которой держится чуть дольше, чем твое новое увлечение.</p>
              <div class="slider-catalog__markets">
                <img src="/public/img/catalog/wb.png" alt="">
                <img src="/public/img/catalog/ozon.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide catalog__slide" 
            data-chai='{
            "title": "Нейрочай Astrology «Весы»",
            "description":"Аромат добра, мира и пикантных сплетен.",
            "ingredients": ["мята", "мята", "мята", "мята", "ромашка"],
            "images": [
              "/public/img/catalog/vesi.jpg",
              "/public/img/catalog/strelec.jpeg",
              "/public/img/catalog/kozerog.jpeg"
              ]
            }'
          >
            <div class="slider-catalog__img">
              <img src="/public/img/catalog/vesi.jpg" alt="">
            </div>
            <div class="slider-catalog__box">
              <h4 class="slider-catalog__heading">Нейрочай Astrology &laquo;Водолей&raquo;</h4>
              <p class="slider-catalog__text">Вкус удавшейся жизни.</p>
              <div class="slider-catalog__markets">
                <img src="/public/img/catalog/wb.png" alt="">
                <img src="/public/img/catalog/ozon.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide catalog__slide" 
            data-chai='{
            "title": "Нейрочай Astrology «Весы»",
            "description":"Аромат добра, мира и пикантных сплетен.",
            "ingredients": ["ромашка", "ромашка", "ромашка", "ромашка", "ромашка"],
            "images": [
              "/public/img/catalog/vesi.jpg",
              "/public/img/catalog/strelec.jpeg",
              "/public/img/catalog/kozerog.jpeg"
              ]
            }'
          >
            <div class="slider-catalog__img">
              <img src="/public/img/catalog/vesi.jpg" alt="">
            </div>
            <div class="slider-catalog__box">
              <h4 class="slider-catalog__heading">Нейрочай Astrology &laquo;Весы&raquo;</h4>
              <p class="slider-catalog__text">Аромат добра, мира и&nbsp;пикантных сплетен.</p>
              <div class="slider-catalog__markets">
                <img src="/public/img/catalog/wb.png" alt="">
                <img src="/public/img/catalog/ozon.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide catalog__slide"
            data-chai='{
            "title": "Нейрочай Astrology «Cтрелец»",
            "description":"Случайня смесь, аромат которой держится чуть дольше, чем твое новое увлечение.",
            "ingredients": ["ромашка", "ромашка", "мята", "ромашка", "ромашка"],
            "images": [
              "/public/img/catalog/vesi.jpg",
              "/public/img/catalog/strelec.jpeg",
              "/public/img/catalog/kozerog.jpeg"
              ]
            }'
          >
            <div class="slider-catalog__img">
              <img src="/public/img/catalog/vesi.jpg" alt="">
            </div>
            <div class="slider-catalog__box">
              <h4 class="slider-catalog__heading">Нейрочай Astrology &laquo;Cтрелец&raquo;</h4>
              <p class="slider-catalog__text">Случайня смесь, аромат которой держится чуть дольше, чем твое новое увлечение.</p>
              <div class="slider-catalog__markets">
                <img src="/public/img/catalog/wb.png" alt="">
                <img src="/public/img/catalog/ozon.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide catalog__slide" 
            data-chai='{
            "title": "Нейрочай Astrology «Весы»",
            "description":"Аромат добра, мира и пикантных сплетен.",
            "ingredients": ["мята", "мята", "мята", "мята", "ромашка"],
            "images": [
              "/public/img/catalog/vesi.jpg",
              "/public/img/catalog/strelec.jpeg",
              "/public/img/catalog/kozerog.jpeg"
              ]
            }'
          >
            <div class="slider-catalog__img">
              <img src="/public/img/catalog/vesi.jpg" alt="">
            </div>
            <div class="slider-catalog__box">
              <h4 class="slider-catalog__heading">Нейрочай Astrology &laquo;Водолей&raquo;</h4>
              <p class="slider-catalog__text">Вкус удавшейся жизни.</p>
              <div class="slider-catalog__markets">
                <img src="/public/img/catalog/wb.png" alt="">
                <img src="/public/img/catalog/ozon.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide catalog__slide" 
            data-chai='{
            "title": "Нейрочай Astrology «Весы»",
            "description":"Аромат добра, мира и пикантных сплетен.",
            "ingredients": ["ромашка", "ромашка", "ромашка", "ромашка", "ромашка"],
            "images": [
              "/public/img/catalog/vesi.jpg",
              "/public/img/catalog/strelec.jpeg",
              "/public/img/catalog/kozerog.jpeg"
              ]
            }'
          >
            <div class="slider-catalog__img">
              <img src="/public/img/catalog/vesi.jpg" alt="">
            </div>
            <div class="slider-catalog__box">
              <h4 class="slider-catalog__heading">Нейрочай Astrology &laquo;Весы&raquo;</h4>
              <p class="slider-catalog__text">Аромат добра, мира и&nbsp;пикантных сплетен.</p>
              <div class="slider-catalog__markets">
                <img src="/public/img/catalog/wb.png" alt="">
                <img src="/public/img/catalog/ozon.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide catalog__slide"
            data-chai='{
            "title": "Нейрочай Astrology «Cтрелец»",
            "description":"Случайня смесь, аромат которой держится чуть дольше, чем твое новое увлечение.",
            "ingredients": ["ромашка", "ромашка", "мята", "ромашка", "ромашка"],
            "images": [
              "/public/img/catalog/vesi.jpg",
              "/public/img/catalog/strelec.jpeg",
              "/public/img/catalog/kozerog.jpeg"
              ]
            }'
          >
            <div class="slider-catalog__img">
              <img src="/public/img/catalog/vesi.jpg" alt="">
            </div>
            <div class="slider-catalog__box">
              <h4 class="slider-catalog__heading">Нейрочай Astrology &laquo;Cтрелец&raquo;</h4>
              <p class="slider-catalog__text">Случайня смесь, аромат которой держится чуть дольше, чем твое новое увлечение.</p>
              <div class="slider-catalog__markets">
                <img src="/public/img/catalog/wb.png" alt="">
                <img src="/public/img/catalog/ozon.png" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide catalog__slide" 
            data-chai='{
            "title": "Нейрочай Astrology «Весы»",
            "description":"Аромат добра, мира и пикантных сплетен.",
            "ingredients": ["мята", "мята", "мята", "мята", "ромашка"],
            "images": [
              "/public/img/catalog/vesi.jpg",
              "/public/img/catalog/strelec.jpeg",
              "/public/img/catalog/kozerog.jpeg"
              ]
            }'
          >
            <div class="slider-catalog__img">
              <img src="/public/img/catalog/vesi.jpg" alt="">
            </div>
            <div class="slider-catalog__box">
              <h4 class="slider-catalog__heading">Нейрочай Astrology &laquo;Водолей&raquo;</h4>
              <p class="slider-catalog__text">Вкус удавшейся жизни.</p>
              <div class="slider-catalog__markets">
                <img src="/public/img/catalog/wb.png" alt="">
                <img src="/public/img/catalog/ozon.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="catalog__description">
        Откройте для себя магию чая с&nbsp;составом, созданным нейросетью. Этот невероятный напиток представляет собой совершенное сочетание традиционных чайных листьев с&nbsp;уникальными ингредиентами.
      </p>
    </div>
    <div class="catalog-section" id="fitosbor">
      <div class="catalog__box">
        <h3 class="catalog__subtitle">Фитосборы</h3>
        <p class="catalog__subtext">Приглашаем вас открыть для себя мир здоровья и&nbsp;гармонии с&nbsp;нашими уникальными фитосборами!</p>
          <div class="catalog__slider-nav">
            <div class="catalog__slider-next fito-nav swiper-button-next">
              <svg width="64" height="37" viewBox="0 0 64 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M42.4167 0.0937491C42.4167 2.02604 44.3255 4.91146 46.2578 7.33333C48.7422 10.4583 51.7109 13.1849 55.1146 15.2656C57.6667 16.8255 60.7604 18.3229 63.25 18.3229M63.25 18.3229C60.7604 18.3229 57.6641 19.8203 55.1146 21.3802C51.7109 23.4635 48.7422 26.1901 46.2578 29.3099C44.3255 31.7344 42.4167 34.625 42.4167 36.5521M63.25 18.3229L0.749997 18.3229" stroke="#FCF5FC" stroke-width="3"/>
              </svg>
            </div>
            <div class="catalog__slider-prev fito-nav swiper-button-prev">
              <svg width="64" height="37" viewBox="0 0 64 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.5833 0.0937491C21.5833 2.02604 19.6745 4.91146 17.7422 7.33333C15.2578 10.4583 12.2891 13.1849 8.88542 15.2656C6.33333 16.8255 3.23958 18.3229 0.750001 18.3229M0.750001 18.3229C3.23958 18.3229 6.33594 19.8203 8.88542 21.3802C12.2891 23.4635 15.2578 26.1901 17.7422 29.3099C19.6745 31.7344 21.5833 34.625 21.5833 36.5521M0.750001 18.3229L63.25 18.3229" stroke="#FCF5FC" stroke-width="3"/>
              </svg>
            </div>
        </div>
      </div>
      <div class="catalog__slider fito-slider swiper slider-catalog">
        <div class="swiper-wrapper">
          <div class="swiper-slide catalog__slide">
            <div class="slider-catalog__img">
              <img src="/public/img/catalog/vesi.jpg" alt="">
            </div>
            <div class="slider-catalog__box">
              <h4 class="slider-catalog__heading">Фитосбор &laquo;Лаванда&raquo;</h4>
              <p class="slider-catalog__text">Случайня смесь, аромат которой держится чуть дольше, чем твое новое увлечение.</p>
              <div class="slider-catalog__markets">
                <img src="/public/img/catalog/wb.png" alt="">
                <img src="/public/img/catalog/ozon.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="catalog__description">
        Каждый наш фитосбор&nbsp;&mdash; это настоящий подарок природы, полный полезных свойств и&nbsp;витаминов, способных укрепить ваше здоровье и&nbsp;улучшить самочувствие.
      </p>
    </div>

  </div>
</section>
