<footer class="footer section light" id="footer" data-section="footer">
  <div class="footer__container">
    <div class="footer__bot bot-footer">
      <div class="bot-footer__info">
        <span>© 2024</span>
        <a target="_blank" href="">Политика конфиденциальности</a>
      </div>
      <div class="bot-footer__free">
        <a target="_blank" href="https://ru.freepik.com/">На&nbsp;сайте использованы изображения с&nbsp;Freepik</a>
      </div>
    </div>
    <span class="country">Сайт от <a href="https://countryagency.ru/" target="_blank">Сountry</a></span>
  </div>
</footer>
<div class="modal-chai">
  <div class="modal-chai__body">
    <div class="modal-chai__content">
      <div class="modal-chai__close js-modal-close">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M26.3033 0.282227L27.7172 1.69623L1.69525 27.7162L0.28125 26.3032L26.3033 0.282227Z" fill="white" />
          <path d="M1.69525 0.282227L27.7172 26.3022L26.3033 27.7172L0.28125 1.69723L1.69525 0.282227Z" fill="white" />
        </svg>
      </div>
      <div class="modal-chai__wrapper row col-12">
        <h3 class="modal-chai__title">Нейрочай Astrology &laquo;Стрелец&raquo;</h3>

        <div class="col-12 modal-chai-container">
          <div class="col-6 modal-chai__information">
            <div class="modal-chai__description">
              <ul class="modal-chai__list">
                {{!-- <li class="modal-chai__item">ромашка</li>
                <li class="modal-chai__item">лемонграс</li>
                <li class="modal-chai__item">мята</li>
                <li class="modal-chai__item">розмарин</li>
                <li class="modal-chai__item">лаванда</li> --}}
              </ul>
              <p class="modal-chai__text">Случайная смесь, аромат которой держится чуть дольше, чем твое новое увлечение.</p>

            </div>
            <ul class="modal-chai__markets">
              <li>
                <a href="">
                  <img src="/public/img/catalog/wb.png" alt="">
                </a>
              </li>
              <li>
                <a href="">
                  <img src="/public/img/catalog/ozon.png" alt="">
                </a>
              </li>
            </ul>
          </div>
          <div class="col-6 modal-chai__gallery gallery">
            <div   class="modal-chai__slider swiper">
              <div class="swiper-wrapper">
                {{!-- <div class="swiper-slide">
                  <div class="modal-chai__image">
                    <img src="/public/img/catalog/vesi.jpg" alt="">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="modal-chai__image">
                    <img src="/public/img/catalog/strelec.jpeg" alt="">
                  </div>
                </div> --}}

              </div>
            </div>
            <div thumbsSlider=""  class="gallery-thumbs swiper">
              <div class="swiper-wrapper">
                {{!-- <div class="swiper-slide gallery-slide">
                  <div class="gallery-image">
                    <img src="/public/img/catalog/vesi.jpg" alt="">
                  </div>
                </div>
                <div class="swiper-slide gallery-slide">
                  <div class="gallery-image">
                    <img src="/public/img/catalog/strelec.jpeg" alt="">
                  </div>
                </div> --}}

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="succes">
  <div class="succes__body">
    <div class="succes__content">
      <div class="succes__close js-modal-close">
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M26.3033 0.282227L27.7172 1.69623L1.69525 27.7162L0.28125 26.3032L26.3033 0.282227Z" fill="white"></path>
          <path d="M1.69525 0.282227L27.7172 26.3022L26.3033 27.7172L0.28125 1.69723L1.69525 0.282227Z" fill="white"></path>
        </svg>
      </div>
      <div class="succes__wrapper">
        <h3 class="succes__heading">вопрос отправлен!</h3>
        <p class="succes__text">Мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время</p>
      </div>
    </div>
  </div>
</div>


