<section class="section haki-detail ">
  <div class="haki-detail__container col-12">
    <span class="haki-detail__date">24.05.2024</span>
    <h2 class="haki-detail__title">Откройте для себя мир здоровья и&nbsp;гармонии!</h2>
    <div class="haki-detail__img">
      <img src="/public/img/haki/haki-1.jpg" alt="">
    </div>
    <div class="text-container col-8 haki-detail__info">
      <p>
       Многие люди привыкли называть чаем все, что они готовят с&nbsp;помощью заварочного чайника или фильтр-пакета. Однако настоящий чай&nbsp;&mdash; это напиток исключительно из&nbsp;листьев камелии китайской. И&nbsp;видов у&nbsp;него только шесть: черный (он&nbsp;же красный), зеленый, белый, улун, пуэр и&nbsp;желтый. О&nbsp;том, как чай помогает поддерживать здоровье, и&nbsp;пойдет речь в&nbsp;этой статье.
      </p>
      <p>
       Состав чая сложен и&nbsp;до&nbsp;сих пор не&nbsp;изучен до&nbsp;конца. Он&nbsp;варьируется в&nbsp;зависимости от&nbsp;сорта, но&nbsp;некоторые элементы остаются неизменными, поскольку в&nbsp;основе всегда один и&nbsp;тот&nbsp;же лист камелии, как его ни&nbsp;крути.
      </p>
      <p>
        Если&nbsp;бы вы&nbsp;решили изучить содержимое своей чашки в&nbsp;химической лаборатории, то&nbsp;нашли&nbsp;бы там нерастворимые элементы (клетчатку, целлюлозу, крахмалы, лигнин и&nbsp;др.) и&nbsp;растворимые, которые и&nbsp;представляют для нас ценность. А&nbsp;именно:
      </p>
      <h3>
       Какой из&nbsp;шести видов чая полезнее
      </h3>
      <p>
        Хотя все виды содержат полезные растворимые элементы, их&nbsp;количество разное в&nbsp;зависимости от&nbsp;сорта чая, а&nbsp;значит, и&nbsp;эффект будет отличаться. Сорта, подверженные меньшей обработке, сохраняют больше флавоноидных антиоксидантов (катехинов), витаминов и&nbsp;аминокислот.
      </p>
      <h3>
        Из&nbsp;чего состоит чай: важные витамины и&nbsp;микроэлементы
      </h3>
      <p>
        Состав чая сложен и&nbsp;до&nbsp;сих пор не&nbsp;изучен до&nbsp;конца. Он&nbsp;варьируется в&nbsp;зависимости от&nbsp;сорта, но&nbsp;некоторые элементы остаются неизменными, поскольку в&nbsp;основе всегда один и&nbsp;тот&nbsp;же лист камелии, как его ни&nbsp;крути.
      </p>
      <p>
        Если&nbsp;бы вы&nbsp;решили изучить содержимое своей чашки в&nbsp;химической лаборатории, то&nbsp;нашли&nbsp;бы там нерастворимые элементы (клетчатку, целлюлозу, крахмалы, лигнин и&nbsp;др.) и&nbsp;растворимые, которые и&nbsp;представляют для нас ценность. А&nbsp;именно:
      </p>
      <ul>
        <li>
          аминокислоту L-теанин;
        </li>
        <li>
          витамины группы&nbsp;В, а&nbsp;также С, Р&nbsp;и&nbsp;РР;
        </li>
        <li>
          антиоксиданты: флавоноиды (эпикатехин, галлокатехин, эпигаллокатехин, галлат эпигаллокатехина) и&nbsp;флавонолы (кемпферол, кверцетин, мирицетин), теафлавины, теарубигины и&nbsp;теабраунины;
        </li>
        <li>
          алкалоиды: кофеин, теобромин, теофиллин;
        </li>
        <li>
          дубильное вещество танин;
        </li>
        <li>
          сапонины;
        </li>
        <li>
          микроэлементы: калий, кальций, магний, железо, фосфор.
        </li>
      </ul>
      <p>
        Их&nbsp;действие в&nbsp;сумме и&nbsp;дает организму возможности для восстановления и&nbsp;укрепления.
      </p>
    </div>
    <a href="/aichai/src/pages/antistresshaki.html" class="accent js-form-submit btn-reset btn ">Вернуться к статьям</a>
  </div>
</section>