<section class="haki section">
  <div class="haki__container">
    <h2 class="haki__title">Антистрессхаки</h2>
    <div class="haki__list">
      <a href="/aichai/src/pages/haki-detail.html" class="haki-element row col-12">
        <div class="haki-element__img col-6">
          <img src="/public/img/haki/haki-1.jpg" alt="">
        </div>
        <div class="haki-element__info col-6">
          <span class="haki-element__date">24.05.2024</span>
          <h3 class="haki-element__heading">Откройте для себя мир здоровья и гармонии!</h3>
          <p class="haki-element__descr">Каждый наш фитосбор&nbsp;&mdash; это настоящий подарок природы, полный полезных свойств и&nbsp;витаминов, способных укрепить ваше здоровье и&nbsp;улучшить самочувствие.</p>
        </div>
      </a>
      <a href="" class="haki-element row col-12 even">
        <div class="haki-element__img col-6">
          <img src="/public/img/haki/haki-1.jpg" alt="">
        </div>
        <div class="haki-element__info col-6">
          <span class="haki-element__date">24.05.2024</span>
          <h3 class="haki-element__heading">Откройте для себя мир здоровья и гармонии!</h3>
          <p class="haki-element__descr">Каждый наш фитосбор&nbsp;&mdash; это настоящий подарок природы, полный полезных свойств и&nbsp;витаминов, способных укрепить ваше здоровье и&nbsp;улучшить самочувствие.</p>
        </div>
      </a>
      <a href="" class="haki-element row col-12">
        <div class="haki-element__img col-6">
          <img src="/public/img/haki/haki-1.jpg" alt="">
        </div>
        <div class="haki-element__info col-6">
          <span class="haki-element__date">24.05.2024</span>
          <h3 class="haki-element__heading">Откройте для себя мир здоровья и гармонии!</h3>
          <p class="haki-element__descr">Каждый наш фитосбор&nbsp;&mdash; это настоящий подарок природы, полный полезных свойств и&nbsp;витаминов, способных укрепить ваше здоровье и&nbsp;улучшить самочувствие.</p>
        </div>
      </a>
    </div>
    <div class="haki__paggination paggination-haki">
      <ul class="paggination-haki__list">
        <li class="paggination-haki__item ">
          <a class="paggination-haki__link current" href="">
            1
          </a>
        </li>
        <li class="paggination-haki__item">
          <a class="paggination-haki__link" href="">
            2
          </a>
        </li>
        <li class="paggination-haki__item">
          <a class="paggination-haki__link" href="">
            3
          </a>
        </li>
        <li class="paggination-haki__item">
          <a class="paggination-haki__link" href="">
            ...
          </a>
        </li>
        <li class="paggination-haki__item">
          <a class="paggination-haki__link" href="">
            99
          </a>
        </li>
        <li class="paggination-haki__item">
          <a class="paggination-haki__link" href="">
            100
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>