<header class="header" id="header">
  <div class="header__container">
    <nav class="header__menu menu">
      <div class="menu__icon">
        <span></span>
      </div>
      <div class="menu__body">
        <ul class="menu__list">
          <li class="menu__item">
            <a data-goto=".brand" class="menu__link" href="">О бренде</a>
          </li>
          <li class="menu__item">
            <div class="menu__item-box">
              <a data-goto=".catalog" class="menu__link" href="">
                Каталог
              </a>
              <div class="menu__item-nav">
                <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 6C6.46732 6 9.53268 6 15 6M15 6C15 6 9.4 5 9.4 1M15 6C15 6 10.1538 6.57692 9.4 11" stroke="#2F4B1E" stroke-width="0.807692" stroke-linecap="square"/>
                </svg>
              </div>
            </div>
            <ul class="menu__sublist">
              <li class="menu__subitem">
                <a href="/#aichai" class="menu__sublink" >Нейрочай</a>
              </li>
              <li class="menu__subitem">
                <a href="/#fitosbor" class="menu__sublink" >Фитосборы</a>
              </li>
            </ul>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/aichai/src/pages/antistresshaki.html">Антистрессхаки</a>
          </li>
        </ul>
        <div class="menu-markets">
          <img src="/public/img/catalog/wb.png" alt="">
          <img src="/public/img/catalog/ozon.png" alt="">
        </div>
      </div>
    </nav>
    <a class="header__logo" href="/">
      <img src="/public/img/logo.png" alt="">
    </a>
    <ul class="header__markets markets-header">
      <li class="markets-header__item">
        <a class="markets-header__link menu__link"  href="">Wildberries</a>
        </li>
      <li class="markets-header__item">
        <a class="markets-header__link menu__link" href="">Ozon</a>
      </li>
    </ul>
  </div>
</header>