<section class="hero" id="hero" data-section="hero">
  <div class="about-parallax"><img class="hero-decor hero-decor-1" src="/public/img/hero/decor-1.png" alt=""></div>
  <div class="about-parallax"><img class="hero-decor hero-decor-2" src="/public/img/hero/decor-2.png" alt=""></div>
  <div class="hero__container">
    <h1 class="hero__title">нейрочай</h1>
    <p class="hero__descr">Продукты основаны на&nbsp;современных научных исследованиях и&nbsp;принципах доказательной медицины, что приводит к&nbsp;оптимальным результатам.</p>
    <ul class="hero__list hero-advantages">
      <li class="hero__item hero-advantages__item">
        <div class="hero-advantages__img">
          <img src="/public/img/hero/advantages-1.png" alt="">
        </div>
        <p class="hero-advantages__descr">
          Уникальными составы, подобранные нейросетями для оптимального эффекта на&nbsp;ваше здоровье
        </p>
      </li>
      <li class="hero__item hero-advantages__item">
        <div class="hero-advantages__img">
          <img src="/public/img/hero/advantages-2.png" alt="">
        </div>
        <p class="hero-advantages__descr">
          Уникальными составы, подобранные нейросетями для оптимального эффекта на&nbsp;ваше здоровье
        </p>
      </li>
      <li class="hero__item hero-advantages__item">
        <div class="hero-advantages__img">
          <img src="/public/img/hero/advantages-3.png" alt="">
        </div>
        <p class="hero-advantages__descr">
          Уникальными составы, подобранные нейросетями для оптимального эффекта на&nbsp;ваше здоровье
        </p>
      </li>
    </ul>
  </div>
</section>

