<section class="section quote">
  <div class="quote__container">
    <p class="quote__text">
      &laquo;Наша цель&nbsp;&mdash; предоставить доступ к&nbsp;натуральным, безопасным и&nbsp;эффективным решениям, которые помогут улучшить здоровье и&nbsp;повысить качество жизни.&raquo;
    </p>
    <div class="quote__info info-quote">
      <div class="info-quote__back image-parallax">
        <svg width="400" height="366" viewBox="0 0 400 366" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.2" d="M104.348 366C84.3214 366 67.4572 361.793 53.7549 353.379C40.0527 344.966 28.9855 334.448 20.5534 321.828C13.1752 308.155 7.90514 293.431 4.74308 277.655C1.58102 260.828 0 244 0 227.172C0 179.845 10.5402 138.302 31.6205 102.543C52.7009 65.7327 80.1054 31.5517 113.834 0L126.482 11.0431C74.8353 62.5776 49.0118 124.629 49.0118 197.198C49.0118 212.974 50.5929 226.646 53.7549 238.215C56.917 248.733 60.6061 256.621 64.8221 261.879C66.9302 256.621 72.2002 251.362 80.6324 246.103C89.0645 239.793 100.132 236.638 113.834 236.638C132.806 236.638 148.09 242.948 159.684 255.569C172.332 267.138 178.656 282.388 178.656 301.319C178.656 323.405 171.805 339.707 158.103 350.224C144.4 360.741 126.482 366 104.348 366ZM325.692 366C305.665 366 288.801 361.793 275.099 353.379C261.397 344.966 250.329 334.448 241.897 321.828C234.519 308.155 229.249 293.431 226.087 277.655C222.925 260.828 221.344 244 221.344 227.172C221.344 179.845 231.884 138.302 252.964 102.543C274.045 65.7327 300.922 31.5517 333.597 0L346.245 11.0431C294.598 64.681 268.775 126.733 268.775 197.198C268.775 212.974 270.356 226.646 273.518 238.215C276.68 248.733 280.369 256.621 284.585 261.879C287.747 256.621 293.017 251.362 300.395 246.103C308.827 239.793 319.895 236.638 333.597 236.638C353.623 236.638 369.433 242.948 381.028 255.569C393.676 267.138 400 282.388 400 301.319C400 323.405 393.149 339.707 379.447 350.224C365.744 360.741 347.826 366 325.692 366Z" fill="#B85DBA"/>
        </svg>
      </div>
      <div class="info-quote__img">
        <img src="/public/img/quote/head.png" alt="">
      </div>
      <div class="info-quote__heading">
        <span class="info-quote__author">Марина Васильева</span>
        <span class="">Создательница</span>
      </div>
    </div>
  </div>
</section>